<div class="row">
  <div class="col-lg-3 margin10">
    <!-- <div class="card margin10">
      <div class="card-body">
        <h5 class="card-title">Create Announcements</h5>
      </div>
    </div>
    <div class="card margin10">
        <div class="card-body">
          <h5 class="card-title">Add Predefined Tags</h5>
        </div>
      </div> -->
      <div class="list-group">
          <a style="color:black" class="list-group-item" routerLink="/admin/announcement" routerLinkActive="active">  Create Announcements</a>
          <a style="color:black" class="list-group-item" routerLink="/admin/addtag" routerLinkActive="active" >Add predefined tags</a>
          <a style="color:black" class="list-group-item" routerLink="/admin/viewRequests" routerLinkActive="active" >View Requests</a>
        </div>
        
  </div>
  <div class="col-lg-8 margin10">
    <router-outlet></router-outlet>
  </div> 
</div>



